<section class="hero">
  <div class="container grid">
    <div class="hero__content">
      <h1 class="hero__title">
        Every person who safely transitions back to the community ia a little toward a better society
      </h1>
        <p class="hero__description">
          You can also take one small laptop bag or handbag that can fit under the seat in front of you. If you have two bags, their total weight cannot be more than 10kg. If your bag is too big or too heavy, you will not be allowed to take it onto the plane. Staff will put it in the hold for you and you will have to pay extra.
        </p>
      <a class="btn hero__btn" href="">See our work in action</a>

    </div>
  </div>
  <div class="container hero__bottom-container"></div>
    <div class="hero__bottom">
      <h2 class="hero__subtitle">Trust in:</h2>
      <ul class="list-reset hero__list grid">
        <li class="hero__item">
          <a href="" class="hero__link">Idaho</a>
        </li>
        <li class="hero__item">
          <a href="" class="hero__link">Mariland</a>
        </li>
        <li class="hero__item">
        <a href="" class="hero__link">Georgiya</a>
      </li>
        <li class="hero__item">
        <a href="" class="hero__link">Dakota</a>
      </li>
        <li class="hero__item">
        <a href="" class="hero__link">Tenesee</a>
      </li>
        <li class="hero__item">
        <a href="" class="hero__link">New York</a>
      </li>
      </ul>
    </div>

  </div>


</section>
