<section class="partners">
  <div class="container partners__container flex">
    <h2 class="partners__title">Partners</h2>
    <ul class="list-reset partners__list flex">
      <li class="partners__item">
        <a href="#" class="partners__link" target="_blank">
        <img src="../img/svg/brand.jpg" loading="lazy" width="160" height="67" alt="brand" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link" target="_blank">
          <img src="../img/svg/brand3.jpg" loading="lazy" width="160" height="67" alt="brand" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link" target="_blank">
          <img src="../img/svg/brand.jpg" loading="lazy" width="160" height="67" alt="brand" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link" target="_blank">
          <img src="../img/svg/brand2.jpg" loading="lazy" width="160" height="67" alt="brand" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link" target="_blank">
          <img src="../img/svg/brand.jpg" loading="lazy" width="160" height="67" alt="brand" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link" target="_blank">
          <img src="../img/svg/brand3.jpg" loading="lazy" width="160" height="67" alt="brand" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link" target="_blank">
          <img src="../img/svg/brand2.jpg" loading="lazy" width="160" height="67" alt="brand" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link" target="_blank">
          <img src="../img/svg/brand2.jpg" loading="lazy" width="160" height="67" alt="brand" class="partners__logo">
        </a>
      </li>
    </ul>
    <a href="#" class="partners__more" target="_blank">See All</a>
  </div>
</section>
